html    {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: lighten;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) url("/static/assets/img/background.svg") no-repeat fixed center center;
    z-index: -1;
     /*    Free SVG Background by <a target="_blank" href="https://bgjar.com">BGJar</a>*/
}

body {
    background-color:transparent;
    color: aliceblue;
    font-weight: 300;
}

.carousel {
    min-height: 300px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}

.item-container {
    width: 80%;
    margin-left: 10%;
}

.carousel-indicators li {
    background-color: #782727;
}

.hide {
    display: none;
}

/* HEADER */

/* CONTENT */
.container {
    /* this is needed not to overlap content section with footer area */
    margin-bottom: 80px;
    margin-top: 30px;
}
/* LOGIN */
.forms-centering {
    /* this class is used for REGISTER forms too */
    margin: 0 auto;
    max-width: 70%;
}

/* REGISTER */
.center-align {
    text-align: center;
}



/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* UTILITIES */

/* CHAT page */
.form-align {
    justify-content: center;
}
.chat-text-color {
    color: black;
}

.chat-container {
    max-height: 70vh;
}

.list-group-item {
    border: 0;
}

.text-align_end {
    text-align: end;
}

.submit-message-container {
    display: flex;
    justify-content: center;
}

/* MEDIA QUERIES */

@media (min-width: 976px) {
    .forms-centering {
        margin: 0 auto;
        max-width: 100%;
    }
}
