@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:wght@300&family=Raleway:wght@100;300;400;500;700;800&display=swap');

html    {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: lighten;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) url("/static/assets/img/background.svg") no-repeat fixed center center;
    z-index: -1;
     /*    Free SVG Background by <a target="_blank" href="https://bgjar.com">BGJar</a>*/
}

body {
    background-color:transparent;
    color: aliceblue;
    font-weight: 300;
}

.welcoming-text {
    display:flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}
.content-i {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.content-i h1 {
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 40px;
    color: #fff;
}
.united-img {
    display: flex;
    height: 100%;
    margin-top: 20px;
}

.btn-reg {
    background: linear-gradient(to bottom, #cbcbcb 2%, #fff 100%);
    padding: 15px 30px;
    text-align: center;
    transition: .5s;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #1b1b1b;
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 1px 4px 12px rgba(94,28,68,.15);
    margin-bottom: 1rem;
    justify-items: center;

}
.carousel {
    min-height: 300px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}


.item-container {
    width: 80%;
    margin-left: 10%;
}

.carousel-indicators li {
    background-color: #782727;
}

.hide {
    display: none;
}

/* HEADER */

/* CONTENT */
.container {
    /* this is needed not to overlap content section with footer area */
    margin-bottom: 80px;
    margin-top: 30px;
}
/* LOGIN */
.forms-centering {
    /* this class is used for REGISTER forms too */
    margin: 0 auto;
    max-width: 70%;
}

/* REGISTER */
.center-align {
    text-align: center;
}



/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* UTILITIES */

/* CHAT page */
.form-align {
    justify-content: center;
}
.chat-text-color {
    color: black;
}

.chat-container {
    max-height: 70vh;
}

.list-group-item {
    border: 0;
}

.text-align_end {
    text-align: end;
}

.submit-message-container {
    display: flex;
    justify-content: center;
}

/* MEDIA QUERIES */

@media (min-width: 976px) {
    .forms-centering {
        margin: 0 auto;
        max-width: 100%;
    }
    .welcoming-text {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .item {
        flex-basis:auto;
    }
}
