<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Missing META for SEO -->
        <!-- Boostrap 4 CSS -->
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                crossorigin="anonymous"
        />
        <link
                rel="stylesheet"
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
                integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
                crossorigin="anonymous"
        />
        <link
                rel="stylesheet"
                href="{{ url_for('static', filename='css/style.css') }}"
                type="text/css"
        />
        <link
                rel="shortcut icon" type="image/jpg"
                href="{{ url_for('static', filename='assets/favicon/favicon.ico') }}"
        />
        <!-- End of Bootstrap 4 CSS -->
        <title>ReConnect</title>
    </head>
    <body>
        <header>
            <!-- HEADER -->
            <!-- Source for navbar component: https://getbootstrap.com/docs/4.0/components/navbar/ -->
            <!-- changed from LG to navbar-expand-SM so that the menu hides only when screen is < than 576px-->

            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="{{ url_for('index') }}">
                    <!-- We'll have to decide for a more fitted icon to use as brand icon -->
                    <img src="https://www.svgrepo.com/show/95704/global-connect.svg" width="30" height="30" fill="%23ff0000" class="d-inline-block align-top" alt="Navigation bar image">ReConnect</a>
                </nav>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto mr-5">
                        <!-- The (current) should be updated for the right page -->
                        <a class="nav-item nav-link text-nowrap active" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link text-nowrap" href="{{ url_for('photos') }}">Photos</a>
                    {% if session.user %}
                        <a class="nav-item nav-link text-nowrap" href="{{ url_for('my_story') }}">My Story</a>
                    {% endif %}
                        <a class="nav-item nav-link text-nowrap" href="{{ url_for('chat') }}">Chat</a>
                        <a class="nav-item nav-link text-nowrap" href="{{ url_for('story') }}">Stories</a>
                        {% if session.user %}

                            <!-- I don't know how to update the menu options if user is logged in or not -->
                            <a class="nav-item nav-link text-nowrap" href="{{ url_for('logout') }}">Sign Out</a>
                        {% else %}
                            <a class="nav-item nav-link text-nowrap" href="{{ url_for('login') }}">Sign In</a>
                            <a class="nav-item nav-link text-nowrap" href="{{ url_for('register') }}">Register</a>
                        {% endif %}
                        
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <!-- CONTENT SECTION -->
            <div class="content-container container">
                <!-- <div class="background"></div> -->
                {% block content %} {% endblock %}
            
            </div>
        </main>  
        <footer class="bg-light text-center text-lg-start fixed-bottom">
            <!-- FOOTER -->
            <!-- Sourced from: https://mdbootstrap.com/docs/standard/navigation/footer/ -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2022 Copyright:
                <a class="text-dark" href="#">ReConnect</a>
            </div>
        </footer>
            <!-- Boostrap JS -->
            <script 
                    src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
            </script>
            <script
                    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                    crossorigin="anonymous">
            </script>
    </body>
</html>
