{% extends "base.html" %}

{% block content %}



<div class="chat-container">
    <ul class="list-group list-group-flush mt-3">
        {% for message in chat %}
            <li class="list-group-item mt-1">
                <span>{{ message.username }}</span> said: <span>{{ message.text }}</span>
                {% if session.user == "coder" %}
                    <a href="{{ url_for('chat_remove_message', message_id=message._id) }}">Remove comment</a>
                {% endif %}
            </li>
        {% endfor %}

    </ul>
<div class="submit-message-container mt-3">
    {% if session.user %}


    <form action="{{ url_for('chat_add') }}" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="text-field">Your message</label>
        <input type="text" name="text-field" id="text-field">
        <button class="btn btn-primary">submit</button>
    </form>
        {% else %}
        <p>
        You need to <a href="{{ url_for('login') }}">login</a> to send a message
        </p>
    {% endif %}
</div>
</div>
{% endblock %}