{% extends "base.html" %} {% block content %}

<div>
  <div class="welcoming-text">
    <!-- <div class="item"> -->
    <div class="content-i">
      <h1>Welcome to ReConnect!</h1>
      <p>
        The pandemic has caused a multitude of issues, from which we witnesed
        emotional, physical and economic consequences.
        <br />
        Psycologist are already discusing around a post-Covid19 Stress Disorder
        as an large scale emerging phenomenon.
        <br /><br />
        ReConnect is an evidence-informed approach to supporting people to
        connect with others.
        <br /><br />
        Positive social connections are important for our physical and mental
        wellbeing. They can provide emotional support, practical assistance,
        information and a sense of belonging.
        <br /><br />
        Everyone has their own stories. This is the place where you can make it
        heard to other.
      </p>
      <!-- <button class="btn-reg">Register</button> -->
      <!-- </div> -->
    </div>
    <!-- <div class="item"> -->
    <div class="united-img">
      <!-- image sourceȘ https://www.vectorstock.com/royalty-free-vector/all-for-one-for-vector-30278686 -->
      <img
        src="/static/assets/img/all-for-one-for-vector-30278686.webp"
        alt="All for and one and one for all logo"

      />
      <!-- </div> -->
    </div>
  </div>

  {% endblock %}
</div>
