{% extends "base.html" %}

{% block content %}
 <div class="row">
        <div class="col-12">
            <h2 class="center-align">Share your story</h2>
        </div>
    </div>

    {#    block with carousel items#}
    <div class="row mt-3">
        <div class="col-12">
            <div class="add-new-story-container">
                <form action="{{ url_for('story_add') }}" method="post">
                    <div class="row justify-content-center">
                        <div class="col-2 offset-1">
                            <label for="title">Story title</label>
                        </div>
                        <div class="col-9 mr-auto">
                            <input type="text" name="title" id="title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 offset-1">
                            <label for="story">Share your story</label>
                        </div>
                        <div class="col-9 mr-auto">
                            <textarea name="story" id="story" rows="5" cols="80"></textarea>
                            <input type="hidden" value="{{ session.user }}" name="created_by">
                        </div>
                    </div>
                    <div class="col-9 offset-3 px-2">
                        <button class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    {#block with header image#}
    <div class="row">
        <div class="col-12"></div>
    </div>
    {#    block with carousel items#}
    <div class="row">
        <div class="col-12">
            <h2>Your memories</h2>
        </div>
    </div>
    {#    block with story items #}
    <div class="row">
        <div class="col-12">
            <ul>
                {% if stories %}
                    {% for story in stories %}
                        <li>
                            {{ story.title }}
                            <br>
                            {{ story.story }}
                            <a href="{{ url_for('story_delete', story_id=story._id) }}" class="btn btn-outline-danger"
                               data-toggle="tooltip" data-placement="top"
                               title="Delete">
                                <i class="fas fa-times"></i>
                                <span class="visually-hidden">Delete story</span>
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>No records found</li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}