{% extends "base.html" %}

{% block content %}
    <h2 class="center-align">Register</h2>
    <div class="login-container">
        <div class="row">
            <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}" id="registration_form">
                <div class="mb-3 mt-3">
                    <label for="username" class="form-label">Username:</label>
                    <input class="form-control validate"
                           id="username"
                           name="username"
                           type="text"
                           minlength="3"
                           maxlength="15"
                           pattern="^[a-zA-Z0-9]{3,15}$"
                           onchange="validateInput(this.id);"
                           required>
{#                          TODO: add JS validation when ivalid data entered#}
                    <span class="error-message hide" id="username_error">Error message</span>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password"
                           class="form-control validate"
                           id="password"
                           placeholder="Enter password"
                           name="password"
                           minlength="5"
                           maxlength="15"
                           required>
                    <span class="error-message hide" id="password_error">Error password message</span>
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Repeat Password:</label>
                    <input type="password"
                           class="form-control validate"
                           id="password2"
                           placeholder="Repeat password"
                           name="password2"
                           minlength="5"
                           maxlength="15"
                           required>
                    <span class="error-message hide" id="password2_error">Error password2 message</span>
                </div>

                <button type="submit" id="register_submit" class="btn btn-primary mt-3 disabled">Submit</button>
            </form>
        </div>


        <div class="row mt-3">
            <div class="col s12">
                <p class="right-align">
                    Already registered? Please 
                    <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log in</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}