{% extends "base.html" %}

{% block content %}

    {#block with header image#}
    <div class="row">
        <div class="col-12"></div>
    </div>
    {#    block with carousel items#}
    <div class="row">
        <div class="col-12"></div>
    </div>
    {#    block with story items #}
    <div class="row">
        <div class="col-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for story in stories %}
                        {% if loop.index == 1 %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}"
                                class="active"></li>
                        {% else %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}"></li>
                        {% endif %}
                    {% endfor %}

                </ol>
                <div class="carousel-inner">
                    {% for story in stories %}
                        {% if loop.index == 1 %}
                            <div class="carousel-item  active">
                                <div class="item-container">
                                    <h5>{{ story.title }}</h5>
                                    <p>{{ story.story }}</p>
                                    <span class="badge badge-secondary">{{ story.created_by }}</span>
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <div class="item-container">
                                    <h5>{{ story.title }}</h5>
                                    <p>{{ story.story }}</p>
                                    <span class="badge badge-secondary">{{ story.created_by }}</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}


                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <div class="add-new-story-container">
                <form action="{{ url_for('story_add') }}" method="post">
                    <label for="title">Story title</label>
                    <input type="text" name="title" id="title">
                    <label for="story">Share your story</label>
                    <textarea name="story" id="story" rows="5" cols="80"></textarea>
                    <input type="hidden" value="{{ session.user }}" name="created_by">
                    <button class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}